/samples/TestProject1/build
/samples/TestProject2/build
/publish
/deploy
/build
/version_info.bat
/version_info.sh
/ci/ant/version_info.properties
/src/demos/Constants/build
/src/demos/Interrupts/build
/src/demos/MicrosOverflow/build
/src/demos/Progmem1/build
/src/demos/Progmem2/build
/src/demos/Progmem3/build
