/src/*.ncb
/src/*.sdf
/src/*.suo
/src/bin
/src/ipch
/src/win32Arduino/Win32
/src/win32Arduino_unittest/Win32
/src/win32Arduino_unittest/arduino.log
/src/win32Arduino/*.user
/src/win32Arduino_unittest/*.user
/src/win32Arduino_unittest/win32Arduino_unittest.x86.release.xml
/src/win32Arduino_unittest/bar.log
/src/win32Arduino_unittest/foo.log
/src/*.opensdf
/third_party
/cmake/build
/samples/TestProject1/build
/samples/TestProject2/build
/ci/appveyor/environment.bat
/src/build
/publish
/deploy
